<section class="portfolio" id="portfolio">
    <h2 class="heading">Latest <span>Project</span></h2>
    <div class="portfolio-container">

        <div class="portfolio-box">
            <img src="assets/imgs/fantanet.png" alt="">
            <div class="portfolio-layer">
                <h4>Fantanet</h4>
                <p>Una piattaforma di fantacalcio online che consente agli utenti di creare squadre, sfidare altri giocatori e visualizzare risultati basati sulle prestazioni dei calciatori</p>
                <a href="https://fantanet.netlify.app/"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="assets/imgs/Spotify.png" alt="">
            <div class="portfolio-layer">
                <h4>Spotify Clone</h4>
                <p>Una replica completa di Spotify con funzioni di ricerca, riproduzione e playlist.</p>
                <a href="https://github.com/SerNo-dev/Spotify-Clone"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="assets/imgs/Benchmark.png" alt="">
            <div class="portfolio-layer">
                <h4>Benchmark Platform</h4>
                <p>Una Single Page Application sviluppata per offrire una versione esemplificativa del quiz di benchmark, ideale per piattaforme di test online.</p>
                <a href="https://github.com/SerNo-dev/Benchmark-Platform"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="assets/imgs/Forum-project.png" alt="">
            <div class="portfolio-layer">
                <h4>Forum</h4>
                <p>Un forum online per discussioni su vari argomenti</p>
                <a href="https://github.com/SerNo-dev/Forum-project"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="assets/imgs/EnergyCrm.png" alt="">
            <div class="portfolio-layer">
                <h4>EnergyCrm</h4>
                <p>Strumento CRM per la gestione efficiente di clienti e dati per il settore energetico</p>
                <a href="https://github.com/SerNo-dev/EnergyCRM"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="assets/imgs/MovieSite.png" alt="">
            <div class="portfolio-layer">
                <h4>Movie Site</h4>
                <p>Sito web dedicato ai film con informazioni e recensioni dettagliate</p>
                <a href="https://github.com/SerNo-dev/Epicode-/tree/main/Front-End/UNIT3/S3/Progetto"><i class='bx bx-link-external'></i></a>
            </div>
        </div>


    </div>
</section>