<section class="portfolio" id="portfolio">
    <h2 class="heading">Latest <span>Project</span></h2>
    <div class="portfolio-container">

        <div class="portfolio-box">
            <img src="assets/imgs/fantanet.png" alt="">
            <div class="portfolio-layer">
                <h4>Fantanet</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus dolor autem.</p>
                <a href="https://fantanet.netlify.app/"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="assets/imgs/Spotify.png" alt="">
            <div class="portfolio-layer">
                <h4>Spotify Clone</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus dolor autem.</p>
                <a href="https://github.com/SerNo-dev/Spotify-Clone"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="assets/imgs/Benchmark.png" alt="">
            <div class="portfolio-layer">
                <h4>Benchmark Platform</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus dolor autem.</p>
                <a href="https://github.com/SerNo-dev/Benchmark-Platform"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="assets/imgs/Forum-project.png" alt="">
            <div class="portfolio-layer">
                <h4>Forum</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus dolor autem.</p>
                <a href="https://github.com/SerNo-dev/Forum-project"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="assets/imgs/EnergyCrm.png" alt="">
            <div class="portfolio-layer">
                <h4>EnergyCrm</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus dolor autem.</p>
                <a href="https://github.com/SerNo-dev/EnergyCRM"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="assets/imgs/MovieSite.png" alt="">
            <div class="portfolio-layer">
                <h4>Movie Site</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus dolor autem.</p>
                <a href="https://github.com/SerNo-dev/Epicode-/tree/main/Front-End/UNIT3/S3/Progetto"><i class='bx bx-link-external'></i></a>
            </div>
        </div>


    </div>
</section>