<section #section class="about" id="about">
    <div class="about-img">
        <img src="assets/imgs/fotoabout.png" alt="Immagine" class="card-image">
    </div>

   <div class="about-content">
    <h2 class="heading">About <span>Me</span></h2>
    <h3>Full-Stack Developer!</h3>
    <p>Appassionato di tecnologia e sviluppo software, il mio percorso professionale è iniziato nel campo giuridico, ma ho scoperto una forte attrazione verso il mondo dell'informatica e dello sviluppo. Dopo aver conseguito il diploma scientifico e seguito un percorso accademico in Giurisprudenza, ho deciso di trasformare la mia passione per la tecnologia in una carriera concreta, intraprendendo un corso intensivo presso Epicode, che mi ha dato solide basi come sviluppatore full-stack.</p>

    <p>Mi piace creare soluzioni innovative e funzionali, con particolare attenzione all'esperienza utente. Sono costantemente alla ricerca di nuove sfide e opportunità per crescere come sviluppatore, con l'obiettivo di migliorare continuamente le mie competenze tecniche e creative.</p>

   </div>
</section>