<header #header class="header" >
  <a [routerLink]="['/']" class="logo">Sergio Nolasco</a>
  <i #menuIcon class='bx bx-menu' id="menu-icon" (click)="onMenuIconClick()"></i>

  <nav class="navbar" #navbar>
    <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="onNavLinkClick($event)">Home</a>
    <a [routerLink]="['/about']" routerLinkActive="active" (click)="onNavLinkClick($event)">About</a>
    <a [routerLink]="['/skills']" routerLinkActive="active" (click)="onNavLinkClick($event)">Skills</a>
    <a [routerLink]="['/portfolio']" routerLinkActive="active" (click)="onNavLinkClick($event)">Portfolio</a>
    <a [routerLink]="['/contact']" routerLinkActive="active" (click)="onNavLinkClick($event)">Contact</a>
  </nav>
</header>