<section class="home" id="home">
    <div class="home-content">
       <div class="testo">
        <h3>Hello,Sono io</h3>
        <h1>Sergio Nolasco</h1>
        <h3>E Sono un <span #multipleText></span></h3>
        
        <blockquote>
            "L'unico modo di fare un ottimo lavoro è amare quello che fai."
            <br><cite>– Steve Jobs</cite>
        </blockquote>

       </div>
       
        <div class="social-media">
            <a href="https://www.linkedin.com/in/sergio-nolasco-/" target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="https://github.com/SerNo-dev"  target="_blank"><i class='bx bxl-github'></i></a>
            <a href="https://www.instagram.com/sergionola/"><i class='bx bxl-instagram-alt'></i></a>
        
        </div>
     
        <a href="assets/Curriculum.pdf" class="btn" download>Download CV</a>
      
      

    </div>
    <div class="card-container">
        <div class="hexagon"></div>
        <img src="assets/imgs/foto6.png" alt="Immagine" class="card-image">
        
    </div>
</section>

<app-about></app-about>
<app-services></app-services>
<app-portfolio></app-portfolio>
<app-contact></app-contact>
<app-footer></app-footer>