<section class="services" id="skills">
    <h2 class="heading">My <span>Skills</span></h2>
    <div class="services-container">
        <div class="service-box">
            <i class='bx bx-devices'></i>
            <h3>Frontend Development</h3>
            <p>Mi occupo di progettare e sviluppare interfacce utente moderne e interattive utilizzando le seguenti tecnologie:</p>
            <ul class="styled-list">
                <li>HTML, CSS, SASS,JavaScript</li>
                <li>Bootstrap,Angular</li>
                <li>Responsive Design (mobile-first)</li>
            </ul>
        </div>

        <div class="service-box">
            <i class='bx bx-layer'></i>
            <h3>Full-Stack Web Development</h3>
            <p>Combino le mie competenze di frontend e backend per costruire applicazioni web complete, utilizzando un insieme di tecnologie moderne:</p>
            <ul class="styled-list">
                <li>HTML, CSS,SASS, JavaScript</li>
                <li>Bootstrap,Angular</li>
                <li>Java,Spring Boot,PostgreSQL</li>
                <li>Versionamento del codice con Git</li>
            </ul>

        </div>

        <div class="service-box">
            <i class='bx bx-server'></i>
            <h3>Backend Development</h3>
            <p>Sviluppo API e gestisco la logica del server, garantendo prestazioni elevate e sicurezza, utilizzando:</p>
            <ul class="styled-list">
                <li>Java, Spring Boot</li>
                <li>Database: PostgreSQL</li>
                <li>Autenticazione e gestione delle sessioni</li>
            </ul>
 
        </div>
    </div>

    <app-threejs-carousel></app-threejs-carousel>
</section>