<section class="services" id="service">
    <h2 class="heading">My <span>Services</span></h2>
    <div class="services-container">
        <div class="service-box">
            <i class='bx bx-code-alt'></i>
            <h3>Web Development</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima repellat suscipit laudantium ratione, quaerat voluptatum autem sequi est veritatis aliquid cum tempora nulla saepe veniam. Cumque enim doloribus consequuntur quis.</p>
            <a href="#" class="btn">Read More</a>
        </div>

        <div class="service-box">
            <i class='bx bx-code-alt'></i>
            <h3>Web Development</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima repellat suscipit laudantium ratione, quaerat voluptatum autem sequi est veritatis aliquid cum tempora nulla saepe veniam. Cumque enim doloribus consequuntur quis.</p>
            <a href="#" class="btn">Read More</a>
        </div>

        <div class="service-box">
            <i class='bx bx-code-alt'></i>
            <h3>Web Development</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima repellat suscipit laudantium ratione, quaerat voluptatum autem sequi est veritatis aliquid cum tempora nulla saepe veniam. Cumque enim doloribus consequuntur quis.</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>
</section>